.Filme{
    display: flex;
    align-items: center;
    padding: 0px 15px;

}
.itemFilme:hover{
	border: solid;
	border-width: 2;
	border-color: orange;
}
.itemFilme{
	border: solid;
	border-width: 2;
	border-color: black;
	background-color: #994b52;
	margin:8px;
}
.text-title{
	font-weight: bold;
	padding: 3px;
}

.Filme > img {
	width: 240px;
	height: 340px;
	padding: 2px;
	margin: 4px;
}

