header.header {
    background-color: #72a878;
    padding: 30px 15px;
    overflow: hidden;
    white-space: nowrap;
}

header.header h1{
    font-size: 1.8em;
}

.buscar {
  width:200px;
  margin-left: 380px;
  border-radius: 10px;
  font-size: 22px;
  border-width: 0px;
}

.bttbuscar{
	border-radius: 10px;
	border-width: 0px;
	margin-left: 2px;
	background-color: #de8181;
  font-size: 22px;
}