aside.logo{
    background-color: #28a84b;
    display: flex;
    justify-content: left;
    align-items: left;
}

aside.logo img{
    margin-left: 10px;
    padding: 0px 50px 0px 0px;
    width: 100%;
    height: 100%;
}