aside.menu-area {
    background-color: #72a878;;
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12)
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
    width: 80%; 
}

.menu a{
    display: block;
    color: #ffffff;
    padding: 14px;
    margin: 1px;
    font-size: 16px;
    border-width: 3px;
    border-color: gray;
    border-style: ridge;
}

.menu a:hover {
    background-color: orange;
}